*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Rooter Elements*/

:root{
  --FONT-LIGHT:rgb(230, 217, 217);
  --FONT-DARK: grey;
  --BG-COLOR-dark:black;
  --BG-LIGHT:whitesmoke;
}

/* Showcase */

.showcase{
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)),url(img/pexels-sora-shimazaki-5926382.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  transition:  all 1s;
  position: relative;
 
  
}

.logo{
  height: 200px;
  width: 200px;
  padding: 1rem;

}
.image{
  display: flex;
  justify-content: center;
  align-items: center;
}
.content{
  filter: blur(0px);
  position: absolute;
  z-index: 1;
 
  transition: 2s;

}
.showcase:hover{
  filter: blur(1px);
}

.title{
  text-align: center;
  color: white;
  font-size: 2rem;
  font-weight: bold;
}
.text{
  text-align: center;
  color: white;
  font-size: 25px;
  font-weight: bold;
  margin-top: 2rem;
  width: 600px;
}

.animate{
  animation: 1.3s 1 normal forwards slide;
}
@keyframes slide{
  0%{
    transform: translateY(-100px);
    
  }

  100%{
    transform: translateX(0);
  }
}

/* Services */