*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  background-color: rgb(255, 255, 255);

}

/* Rooter Elements*/

:root{
  --FONT-LIGHT:rgb(230, 217, 217);
  --FONT-DARK: rgb(14, 11, 11);
  --BG-COLOR-dark:black;
  --BG-LIGHT:whitesmoke;
}

/* Showcase */

.showcase{
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)),url(img/pexels-sora-shimazaki-5926382.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  transition:  all 1s;
  position: relative;
  filter: blur(1px); 
}
.showcase:hover{
  filter: blur(0px);
}

.logo{
  height: 200px;
  width: 200px;
  padding: 1rem;

}
.image{
  display: flex;
  justify-content: center;
  align-items: center;
}
.content{
  filter: blur(0px);
  position: absolute;
  z-index: 1;
 
  transition: 2s;

}


.title{
  text-align: center;
  color: white;
  font-size: 2rem;
  font-weight: bold;
}
.text{
  text-align: center;
  color: white;
  font-size: 25px;
  font-weight: bold;
  margin-top: 2rem;
  width: 600px;
}

.animate{
  animation: 1.3s 1 normal forwards slide;
}
@keyframes slide{
  0%{
    transform: translateY(-100px);
    
  }

  100%{
    transform: translateX(0);
  }
}

/* Services */

.services{

 background-color: var(--BG-COLOR-light);
 color: var(--FONT-DARK);
}
.services .item1:hover{
  box-shadow: 2px 2px 2px  black;
}

.services h2 {
  text-align: center;
  margin-top: 2rem;
  font-size: 3rem;
}
.grid-3{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: center;
  justify-content:space-between;
  height: 400px;
  column-gap: 20px;
  row-gap: 20px;
 
}
.grid-3 div{
  border: 1px solid white;
  padding: 3rem;
  text-align: center;
  background-color: var(--BG-COLOR-dark);
  color: var(--FONT-LIGHT);
  border-radius: 6px;
}
.grid-3 div p{
  margin-top: 2rem;
}
.grid-3 div h3{
  margin-top: 1.3rem;
}

.grid-3:nth-child(1){
  display: grid;
  grid-row: 1/2;

}

/* About Section */

.about-container{

  
  color:var(--FONT-LIGHT);
  width: 100%;
  
  border-radius: 20px;
  display: grid;
  grid-template-columns: 2fr 1fr;
  column-gap: 20px;

}
.fonts{
  color: black;
  height: 400px;
  align-items: center;
  display: grid;
  font-size: 20px;
  text-align: center;
  font-weight:900;
 
}
.about{
  margin-left: 20px;
  margin-right: 20px;
}


 .grid-2{
  display: grid;
  grid-template-columns: 1fr 1fr ;
  align-items: center;
  height: 400px;
  background-color: var(--BG-COLOR-dark);
  border-radius: 13px;

}
.grid-2 .icons{
  display:grid;
  justify-content: center;

}
.grid-2 h3{
  font-size: 28px;
  margin-bottom: 2rem;
  font-weight: bold;
}
.grid-2 p{
  font-size: 20px;
}

/* Footer */

footer p{
  background-color: black;
  margin-top: 2rem;
  padding: 2rem;
  color: white;
  text-align: center;
  font-size: 20px;
}