*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.grid{
 display: grid;
 grid-template-columns: repeat( auto-fit,300px);
 gap: 15px;
}
.card{
  width: 300px;
  height: auto;
  background-color: black;
  color: white;
  padding: 2rem;
}
.card img{
  width: 250px;
  align-items: center;display:flex;
  align-items: center;
  justify-content: center;
}