
li {
  display: inline-block;
  margin-top: 20px;

}

nav {
  background-color: black;
  text-align: right;

}

a {
  color: white;
  text-decoration: none;




  padding: 1rem;

}

a:hover,
a:focus {
  text-decoration: underline;
  transition: 4s;

}


.box {
  background-color: aquamarine;
  width: 200px;
  height: 200px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 20px;

}

.left {
  float: left;
  
}

section{
  background-color: red;
  border: 2px solid black;
  overflow: hidden;
  
}

.clear{
  clear: both;
}
.right{
  float: right;
  margin-bottom: 30px;
  overflow:hidden;
}
body{
  min-height: 1000vh;
}
.image3{
 
  margin-top: 200px;
}
img{
  float: right;
}